# Any settings you want to override go here.

export SECRET_TOKEN="please set a strong, unique, random token"
export SQLALCHEMY_DATABASE_URI="sqlite:////opt/data/census_dev.db"

# https://flask-sqlalchemy.palletsprojects.com/en/2.x/config/#connection-uri-format
# SQLALCHEMY_DATABASE_URI="postgresql://scott:tiger@localhost/mydatabase"
# SQLALCHEMY_DATABASE_URI="mysql://scott:tiger@localhost/mydatabase"
# SQLALCHEMY_DATABASE_URI="sqlite:////absolute/path/to/foo.db"
